.row
  = form_for @fix, :url => book_fixes_path(@book), :authenticity_token => false, :html => {:class => "col s12"} do |f|
    .row
      .input-field.col.m6.s12
        = f.text_field :name #icon_prefix.validate{:type => "text"}
        %label{:for => "icon_prefix"} Name (optional)
      .g-recaptcha.col.m6.s12{"data-sitekey" => "6LdReyQTAAAAANSlGTjR5bKSmiU4Y3XdCuOmbuvx"}

    .row
      .input-field.col.m6.s12
        = f.email_field :email
        %label{:for => "icon_prefix"} Email (optional)

    .row
      - if @book.versions.count > 1
        .input-field.col.m6.s12
          = f.select_tag :version_id, options_for_select(version_options(@book.versions), disabled: ["X"]), :class => 'browser-default'
      - else
        = f.hidden_field :version_id, value: @book.versions.first.id
      .input-field.col.m6.s12
        = field_error(@fix, :location)
        = f.number_field :location, min: 1, step: 'any'
        %label{:for => "icon_prefix"} Page or Location
    .row
      %p.grey-text Note: If you are reporting on a printed copy, you can provide the line as a decimal (e.g. 12.21 is page 12, line 21).
    .row
      .input-field.col.m6.s12
        = field_error(@fix, :kind)
        %select.browser-default{name: "fix[kind]", id: "fix[kind]"}
          %option{:disabled => "disabled", :selected => "selected", :value => ""} Select type of correction
          %optgroup{:label => "Technical Correction"} 
            %option{:value => "TYPO"} Typo
            %option{:value => "GRAMMAR"} Grammar
            %option{:value => "SUGGEST"} Suggestion
          %optgroup{:label => "Readability Correction"} 
            %option{:value => "INCREDIBLE"} Hard to Believe
            %option{:value => "CONFUSING"} Confusing
            %option{:value => "BORING"} Boring
    
    .row
      .input-field.col.s12
        =field_error(@fix, :text)
        = f.text_area :text, class: 'materialize-textarea', rows: 10
        %label{:for => "textarea1"} Textarea
    .row
      .input-field.col.s12
        %button.btn Submit