%p#notice= notice

%p
  %b Book:
  = @version.book
%p
  %b Version:
  = @version.version
%p
  %b Released on:
  = @version.released_on

= link_to 'Edit', edit_version_path(@version)
\|
= link_to 'Back', versions_path
